.loader_container{
    margin-top: 40%;
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;        
    
}

.loader {
    width: 100px;    
    background-color: rgba(240, 248, 255, 0.467);
    border-radius: 50px;
}

.logoCabecalho {
    width: 20%;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .button-voltar{
        visibility: hidden;
        position: absolute;
    }
}
