.container .perfil  {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

.container .logo  {
    width: 250px;
    height: 250px;
    margin-top: 50px;
}

input{
    width: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

}

input.email{
    background-image: url(../../assets/icone-usuario.png);
}


input.senha{
    background-image: url(../../assets/icone-cadeado.png);
}

input.submit:hover {
    filter: brightness(80%);
}

.input-select{        
    width: 100%;
    margin-top: -10px;
    
}
.container-info {
    background-color: none;    
    height: 100%;
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
 }
  
 .item {
    background-color: #a90d5ebf;
    color: #fff;
    padding: 10px 10px;
    margin: 15px 15px;

 }
 
 .item1{
    height: 240px;
    width: 45%;
    border-radius: 30px;
 }
 
 .item2{
    height: 240px;
    width: 45%;
    border-radius: 30px;
 }
 
 .item3{
    height: 240px;
    width: 45%;
    border-radius: 30px;
 }

 .btn-item{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: white;

 }

 .btn-item:hover{
    background-color: rgba(203, 151, 255, 0.271);
    transition: 0.5s;
    color:rgb(205, 204, 204);

 }
 